# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\deaProjects\SpringBoot_workspace\springboot-06-springcloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
