# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\deaProjects\SpringBoot_workspace\spring-boot-04-crud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
